GomokuWeb/src/conf/xml-resources/web-service-references/GenerickiKontrolerServer/wsdl/localhost_8080/GomokuWeb/GenerickiKontrolerServer.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://Server/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="GenerickiKontrolerServer" targetNamespace="http://Server/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://Server/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://Server/">
  <xs:element name="registrujKorisnika" type="tns:registrujKorisnika"/>
  <xs:element name="registrujKorisnikaResponse" type="tns:registrujKorisnikaResponse"/>
  <xs:complexType name="registrujKorisnika">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string"/>
      <xs:element minOccurs="0" name="arg1" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="registrujKorisnikaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Exception" type="tns:Exception"/>
  <xs:complexType name="Exception">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="registrujKorisnika">
    <wsdl:part element="tns:registrujKorisnika" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="registrujKorisnikaResponse">
    <wsdl:part element="tns:registrujKorisnikaResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part element="tns:Exception" name="Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GenerickiKontrolerServer">
    <wsdl:operation name="registrujKorisnika">
      <wsdl:input message="tns:registrujKorisnika" name="registrujKorisnika">
    </wsdl:input>
      <wsdl:output message="tns:registrujKorisnikaResponse" name="registrujKorisnikaResponse">
    </wsdl:output>
      <wsdl:fault message="tns:Exception" name="Exception">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GenerickiKontrolerServerSoapBinding" type="tns:GenerickiKontrolerServer">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="registrujKorisnika">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="registrujKorisnika">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="registrujKorisnikaResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GenerickiKontrolerServer">
    <wsdl:port binding="tns:GenerickiKontrolerServerSoapBinding" name="GenerickiKontrolerServerPort">
      <soap:address location="http://localhost:8080/GomokuWeb/GenerickiKontrolerServer"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>